<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
  </configSections>
 
  <connectionStrings>
    <add name="Sandbox.PigDeal.Retail.Infrastructure.Properties.Settings.PigDealConnectionString1" connectionString="Data Source=tec-llanterme\sqlexpress;Initial Catalog=PigDeal;Persist Security Info=True;User ID=sa;Password=Passw0rd1" providerName="System.Data.SqlClient"/>

    <!--<add name="PigDeal" connectionString="Data Source=tec-llanterme\sqlexpress;Initial Catalog=PigDeal;Persist Security Info=True;User ID=sa;Password=Passw0rd1" providerName="System.Data.SqlClient"/>-->

  </connectionStrings>

  <appSettings>

 


  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
