<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
  </configSections>
  <log4net debug="true">
    <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date{yyyy/mm/dd HH:mm:ss, fff} %level %logger{2} %property{methodName}() %m%n"/>
      </layout>
    </appender>
    <appender name="MwebFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="C:\Logs\SandBox.PigDeal\trace.txt"/>
      <aapendToFile value="false"/>
      <rollingStyle value="Size"/>
      <maxSizeRollBackups value="10"/>
      <staticLogFileName value="true"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date{yyyy/mm/dd HH:mm:ss, fff}|%level|%logger{4}|%property{methodName}{}|%m%n"/>
      </layout>
    </appender>
    <root>
      <level value="Info"/>
      <appender-ref ref="ConsoleAppender"/>
      <appender-ref ref="MwebFileAppender"/>
    </root>
  </log4net>
  <connectionStrings>
    <!--<add name="SandBox.ExpenseTracker.Infrastructure.Properties.Settings.ExpenseTrackerConnectionString"
        connectionString="Data Source=tec-llanterme\sqlexpress;Initial Catalog=ExpenseTracker;Persist Security Info=True;User ID=sa;Password=Passw0rd1"
        providerName="System.Data.SqlClient" />-->

    <!--<add name="Sandbox.PigDeal.Retail.Infrastructure.Properties.Settings.PigDealConnectionString2" connectionString="Data Source=luke-pc\sqlexpress;Initial Catalog=PigDeal;Persist Security Info=True;User ID=sa;Password=Passw0rd1" providerName="System.Data.SqlClient"/>-->
    <add name="PigDeal" connectionString="Data Source=tec-llanterme\sqlexpress;Initial Catalog=PigDeal;Persist Security Info=True;User ID=sa;Password=Passw0rd1" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <appSettings>
    <add key="ServicePassword" value="0829220031"/>
    <add key="MaxDistance" value="9999999999"/>
    <add key="RangeToOutlet" value="1"/>
    <add key="RangeText" value="5km"/>
    <add key="NotAtOutLetText" value="You seem to be {0}km from the outlet. Please ensure you are at least 1km from the deal location."/>
    <add key="CongratsText" value="Congrats shopper! Your deal reference number is {0}."/>
    <add key="AlreadyClaimedText" value="According to our records, you have already claimed this deal! Your deal reference number is {0}."/>
    <add key="TakeUpErrorText" value="An error has occured. Please try again."/>
    
  </appSettings>

  <system.web>
    <authentication mode="None"/>
    <customErrors mode="RemoteOnly" />
    <compilation debug="true" targetFramework="4.0"/>
    <caching>
      <outputCacheSettings>
        <outputCacheProfiles>
          <add name="CacheFor10Seconds" duration="10" varyByParam="none"/>
        </outputCacheProfiles>
      </outputCacheSettings>
    </caching>
  </system.web>
  <system.serviceModel>
    <bindings>
      <webHttpBinding>
        <binding name="webHttpBindingWithJsonP" crossDomainScriptAccessEnabled="true"/>
      </webHttpBinding>
    </bindings>
    <behaviors>
      <endpointBehaviors>
        <behavior name="webHttpBehavior">
          <webHttp helpEnabled="true"/>
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior>
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true"/>
    <services>
      <service name="Sandbox.PigDeal.Retail.Service.PigDealRestService">
        <endpoint address="" behaviorConfiguration="webHttpBehavior" binding="webHttpBinding" bindingConfiguration="webHttpBindingWithJsonP"
                  contract="Sandbox.PigDeal.Retail.Service.IPigDealRestService">
          <identity>
            <dns value="http://pigdeal.co.za"/>
          </identity>
        </endpoint>
        <host>
          <baseAddresses>
            <add baseAddress="http://pigdeal.co.za"/>
          </baseAddresses>
        </host>
      </service>
    </services>
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>
</configuration>
