<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
      <add name="PigDeal" connectionString="Data Source=196.22.172.45;Initial Catalog=CLDBHOST_m2601120;Persist Security Info=True;User ID=m2601120;Password=2mar6y6h"
      providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>